.projectPreview.newsSite {
    border-top: 5px solid white;
    border-left: 5px solid white;
}
.projectPreview.newsSite .projectName {
   top: 0;
   left: 0;
}
.projectPreview.newsSite .leftSide {
    display: flex;
    align-items: center;
    width: 50%; 
    padding: 0 20px;

}
.projectPreview.newsSite .leftSide .description {padding-top: 20px;}

.projectPreview.newsSite .rightSide {
    position: relative;
    width: 50%;
    display: flex;
}
.projectPreview.newsSite .rightSide h2 {line-height: 115px;}
.projectPreview.newsSite .rightSide img {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
    
}

@media only screen and (max-width: 768px) { 
    .projectPreview.socialSite .projectName {
        left: 0;
        top: 10px;
    }
}
@media only screen and (max-width: 450px) { 
    .projectPreview.newsSite .rightSide h2 {line-height: 90px;}

}
