.projects {
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.footer {
    position: relative;
    margin-top: 50px;
    border-top: 3px solid gray;
    width: 100%;
    height: 150px;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.projectPreview {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.leftSide {
    width: 35%;
    position: relative;

}
.projectName {
    display: block;
    position: absolute;
    width: auto;
}
.rightSide img, .leftSide img, .topSide img, .bottomSide img {
    max-width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    object-fit: cover; 
}

.menu {
    width: 110%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.option {
    display: flex;
    justify-content: flex-start;
    border: 3px solid white;
    padding: 5px 5px;
    cursor: pointer;
    overflow: hidden;
}
.option.active {
    border: 3px solid var(--font-color-fancy)
}
.option.active h3 {
    transition: .2s;
    color: var(--font-color-fancy);
}
.window {
    max-height: 550px;
    border: 5px solid white;
    overflow: hidden;
}
.window .informationComponent, .window .technologiesComponent, .window .projectStructure { padding: 10px;}

.status, .ip, .code {display: flex; align-items: center; gap: 30px;}
.informationComponent h3 {
    color: var(--font-color-fancy);
}
.informationComponent a {
    color: white;
}
.technologiesComponent {
    width: 100%;
}
.technologiesComponent li {
    list-style: none;
    margin-top: 5px;

}
.technologiesComponent ul {margin: 0; padding: 0;}
.projectStructure {display: flex; align-items: center; height: 100%;}
.descriptionContainer {width: 50%;}
.imgContainer {
    width: 50%; 
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
}
.projectStructure img {
    height: 70%;
    width: auto;
}

@media only screen and (max-width: 480px) {
    .projects {
        gap: 150px;
    }
}