.slider {
    position: relative;
    display: flex;
    max-height: 550px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
}
.slider img { 
    height: 100%;
    width: auto;
}
.setImageIcon {
    position: absolute;
    left: 0;
    top: 0;
    
}
.setImageIcon img {
    width: 10%;
    height: 10%;

}