
:root {
  --font-color-default: white;
  --font-color-fancy: rgb(242,135,58);
  --font-color-fancy-darker:  rgb(220, 114, 52);
}
a, p, h1, h2, h3, h4, h5 {
  font-family: "Average", serif;
}
h1 {font-size: 115px; font-weight: 400; color: white; margin: 0; padding: 10px 10px 0 10px;}
h2, span {font-size: 110px;   font-family: "Anton", sans-serif;}
h2 {color:white; margin: 0;}
h3 {color: white; font-size: 36px; font-weight: 400; margin: 0;}
h4 {font-size: 32px; font-weight: 400;  padding: 0; margin: 0;}
span {color: rgba(240, 248, 255, 0);  font-weight: 400; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color:rgb(255, 255, 255);}
p {font-size: 24px; font-weight: 600; color: white; margin: 0;}
.app {
  background-color: rgb(54, 54, 54);

}

.wrapper {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}


@media only screen and (max-width: 768px) {
    
  a, p, h1, h2, h3, h4, h5 {
    font-family: "Average", serif;
  }
  h1 {font-size: 86px; font-weight: 400; color: white; margin: 0; padding: 10px 10px 0 10px;}
  h2, span {font-size: 75px;   font-family: "Anton", sans-serif;}
  h2 {color:white; margin: 0;}
  h3 {color: white; font-size: 20px; font-weight: 400; margin: 0;}
  h4 {font-size: 24px; font-weight: 400;  padding: 0; margin: 0;}
  span {color: rgba(240, 248, 255, 0);  font-weight: 400; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color:rgb(255, 255, 255);}
  p {font-size: 20px; font-weight: 600; color: white; margin: 0;}
  .app {
    background-color: rgb(54, 54, 54);
  
  }

}

@media only screen and (max-width: 480px) {
    
  a, p, h1, h2, h3, h4, h5 {
    font-family: "Average", serif;
  }
  h1 {font-size: 86px; font-weight: 400; color: white; margin: 0; padding: 10px 10px 0 10px;}
  h2, span {font-size: 64px;   font-family: "Anton", sans-serif;}
  h2 {color:white; margin: 0;}
  h3 {color: white; font-size: 17px; font-weight: 400; margin: 0;}
  h4 {font-size: 24px; font-weight: 400;  padding: 0; margin: 0;}
  span {color: rgba(240, 248, 255, 0);  font-weight: 300; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color:rgb(255, 255, 255);}
  p {font-size: 16px; font-weight: 600; color: white; margin: 0;}
  .app {
    background-color: rgb(54, 54, 54);
  
  }


}

@media only screen and (max-width: 420px) {
    
  a, p, h1, h2, h3, h4, h5 {
    font-family: "Average", serif;
  }
  h1 {font-size: 64px; font-weight: 400; color: white; margin: 0; padding: 10px 10px 0 10px;}
  h2, span {font-size: 48px;   font-family: "Anton", sans-serif;}
  h2 {color:white; margin: 0;}
  h3 {color: white; font-size: 15px; font-weight: 400; margin: 0;}
  h4 {font-size: 18px; font-weight: 400;  padding: 0; margin: 0;}
  span {color: rgba(240, 248, 255, 0);  font-weight: 300; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color:rgb(255, 255, 255);}
  p {font-size: 14px; font-weight: 600; color: white; margin: 0;}
  .app {
    background-color: rgb(54, 54, 54);
  
  }

}